//colours:
$scissors-gradient: #ec9e0e;
$paper-gradient: #4865f4;
$rock-gradient: #dc2e4e;

$dark-text: #3b4363;
$score-text: #2a46c0;
$header-outline: #606e85;

$background-gradient: radial-gradient(
	circle,
	hsl(214, 47%, 23%),
	hsl(237, 49%, 15%)
);
